body {
	 background: radial-gradient(circle at 100% 50%,
	 transparent 20%, #e9f5fb 21%, #e9f5fb 34%, transparent 35%, transparent),
	 radial-gradient(circle at 0% 50%, transparent 20%, #e9f5fb 21%, #e9f5fb 34%, transparent 35%, transparent) 0 -50px;
	 background-color: #d7f2ff;
	 background-size: 75px 100px;
  }
@font-face {
	font-family: costa;
	src: url("../assets/fonts/CostaPtfBold.otf");
}

.list-group{
	flex-direction: row;
}

.header_item{
	font-family: costa;
	font-size: 20px;
	padding: 30px;
	font-weight: bold;
	color: #ffffff;
	position: relative;
	bottom: 30px;
}
.header_item:hover{
	font-family: costa;
	color: #6d1f37;
}

/* X3D Models*/

X3D, x3d {
    border-radius: 10px;
	bottom: 50px;
	position: relative;
	float: center;
	margin: 0 auto;
}
#item_card{
	background-color: transparent;
	border-color: transparent;
	margin: auto;
}

#costa_logo
{
	padding: 20px;
	padding-left: 90px;
}


#costa_logo h3{
	transition: 0.3s;
	font-size: 70px;
	text-align: center;
	font-family: costa;
	color: #ffffff;
	font-weight: bold;
}

#costa_logo:hover h3, #costa_logo:hover h4
{
	color: #6d1f37;
	transition: 0.3s;
}

#costa_logo h4{
	position: relative;
	transition: 0.3s;
	bottom: 20px;
	font-family: costa;
	text-align: center;
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
}

/* Accordion CSS */
.accordion
{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
}

.accordion-header
{
	font-family: costa;
	text-align: center;
	font-size: 40px;
	color: #6d1f37;
	font-weight: bold;
}

.accordion-body
{
	font-family: costa;
	font-size: 15px;
	font-weight: bold;
}

/* Form Group CSS */

.form-group
{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}

.form-group-header
{
	font-family: costa;
	text-align: center;
	font-size: 30px;
	color: #6d1f37;
	font-weight: bold;
}

.form-control
{
	font-family: costa;
	font-size: 15px;
	font-weight: bold;
}

h4
{
	font-family: costa;
	text-align: center;
	font-size: 40px;
	color: #6d1f37;
	font-weight: bold;
}

#drink_description_main, .card-page-title{
	font-family: costa;
	padding: 40px;
	text-align: center;
	color: #6d1f37;
}

#learn_more_button{
	border-radius: 40px;
	background-color: #6d1f37;
}

.footer-title {
	color:white;
	font-weight: bold;
	text-align: center;
}

.footer-body {
	color: white;
	line-height: 2.5;
}

.card-footer
{
	background-color: transparent;
	border: 0;
}

#mainpage_button{
	font-size: 20px;
	border-radius: 100px;
	background-color: #6d1f37;
	color: #ffffff;
	font-weight: bold;
	width: 180px;
	height: 60px;
}

#what_new_card {
	height: 800px;
	overflow-y: auto;
  }

  #what_new_title{
	top: -80px;
  }
.mini-card-body
{
	font-family: costa;
	text-align: center;
	width: 100%;
	font-size: 20px;
	color: #000000;
	font-weight: bold;
}
  #goback_button
  {
	background-color: #6d1f37;
	border: 0px;
	font-family: costa;
	font-weight: bold;
  }

  /* Used for the flavour and category on top of the x3d model */
.float-container 
{
	margin-top: -15px;
	position: absolute;
	z-index:1000; 
}

.float-child 
{
	width: 50%;
    float: left;
}  

hr
{
	margin-top: 3rem;
	margin-bottom: 3rem;
	border: 10px;
}
/* Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {

    body 
	{
        background-color: rgb(236, 193, 246);
    }
}


/* Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) 
{ 
    body 
	{
        background-color: rgb(242, 203, 173);
    }
}

/* Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) 
{ 
    body 
	{
        background-color: rgb(250, 250, 189);
    }
}

/* Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) 
{ 
    body 
	{
        background-color: rgb(190, 245, 239);
    }
}
