       <!-- Footer !-->
       <div class="row footer_top">
        <div class="col-sm-3" style="padding: 10px;"> 
            <div div class="card" style="background-color: transparent;">
                <h5 class="card-title footer-title" id="about_us_title"></h5>
                <div class="card-body footer-body" id="about_us_body"></div>
            </div>
        </div>
        <div class="col-sm-3" style="padding: 10px;"> 
            <div div class="card" style="background-color: transparent;">
                <h5 class="card-title footer-title" id="nutrients_title"></h5>
                <div class="card-body footer-body" id="nutrients_body"></div>
            </div>
        </div>
        <div class="col-sm-3" style="padding: 10px;"> 
            <div div class="card" style="background-color: transparent;">
                <h5 class="card-title footer-title" id="giftings_title"></h5>
                <div class="card-body footer-body" id="giftings_body"></div>
            </div>
        </div>
        <div class="col-sm-3" style="padding: 10px;"> 
            <div div class="card" style="background-color: transparent;">
                <h5 class="card-title footer-title" id="contact_us_title"></h5>
                <div class="card-body footer-body" id="contact_us_body"></div>
            </div>
        </div>
    </div>
<nav class="navbar navbar-expand-sm footer_bottom">
<div class="container">
    <div class="navbar-text float-left copyright">
        <p><span class="align-baseline"></span>2023 mobile web 3d application</p>
    </div>
    <div class="navbar-text float-right social">
        <a href="https://www.facebook.com/CostaCoffee/"><i class="fab fa-facebook-square fa-2x"></i></a>
        <a href="https://twitter.com/CostaCoffee?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter-square fa-2x"></i></a>
        <a href="https://github.com/DoveCrying/3dapp_costa"><i class="fab fa-github-square fa-2x"></i></a>
    </div>
</div>
</nav>