       <!-- Footer !-->
       <div class="row" style="background-color: #ce0041;">
        <div class="col-sm-2" style="padding: 10px;"> 
            <div div class="card" style="background-color: transparent;">
                <h5 class="card-title footer-title" id="about_us_title"></h5>
                <div class="card-body footer-body" id="about_us_body"></div>
            </div>
        </div>
        <div class="col-sm-2" style="padding: 10px;"> 
            <div div class="card" style="background-color: transparent;">
                <h5 class="card-title footer-title" id="nutrients_title"></h5>
                <div class="card-body footer-body" id="nutrients_body"></div>
            </div>
        </div>
        <div class="col-sm-2" style="padding: 10px;"> 
            <div div class="card" style="background-color: transparent;">
                <h5 class="card-title footer-title" id="giftings_title"></h5>
                <div class="card-body footer-body" id="giftings_body"></div>
            </div>
        </div>
        <div class="col-sm-2" style="padding: 10px;"> 
            <div div class="card" style="background-color: transparent;">
                <h5 class="card-title footer-title" id="contact_us_title"></h5>
                <div class="card-body footer-body" id="contact_us_body"></div>
            </div>
        </div>
        <div class="col-sm-2" style="padding: 10px;"> 
            <div div class="card" style="background-color: transparent;">
                <h5 class="card-title footer-title" id="tac_title"></h5>
                <div class="card-body footer-body" id="tac_body"></div>
            </div>
        </div>
    </div>
<nav class="navbar navbar-expand-sm footer" style="background-color: #810029;">
<div class="container">
    <div class="navbar-text float-left copyright">
        <p><span class="align-baseline"></span>2023 mobile web 3d application</p>
    </div>
    <div class="navbar-text float-right social">
        <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
        <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
        <a href="#"><i class="fab fa-google-plus-square fa-2x"></i></a>
        <a href="#"><i class="fab fa-github-square fa-2x"></i></a>
    </div>
</div>
</nav>