        <!-- Header -->
        <nav class="navbar navbar-expand-md" style="background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,0,0.4));">
            <!-- Brand -->
        <div class="logo">
            <a class="navbar-brand"  onclick="javascript:swap('main_page')">
                <div id="costa_logo">
                    <h3>CO<span style="font-size: 1.2em;">S</span>TA</h3>
                    <h4>COFFEE</h4>
                </div>
            </a>
        </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link header_item" id="gallery_button" onclick="javascript:swap('our_coffee_content')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="List of our coffee, alongside some extra realistic images! :)">Our coffees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header_item" onclick="change_modal('about_modal')" data-bs-toggle="modal" data-bs-target="#exampleModal">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header_item" onclick="javascript:swap('contact_us_content')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Any Issues? Contact Us!">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header_item" id="request_list" onclick="javascript:swap('request_list_content')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Need to view the user's request? This is the place!" >Requests List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header_item" onclick="javascript:swap('going_beyond_content')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="How does this website go beyond?">Going Beyond</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header_item" onclick="javascript:swap('references_content')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="How does this website go beyond?">References</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header_item" onclick="change_modal('github_modal')" data-bs-toggle="modal" data-bs-target="#exampleModal">Github</a>
                    </li>
                </ul>
                </div>  
        </nav>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div id="about_modal">
                    <div class="modal-header"><h5 class="modal-title" id="modal_title_about"></h5></div>
                    <div class="modal-body" id="modal_body_about"></div>
                </div>
                <div id="github_modal">
                    <div class="modal-header"><h5 class="modal-title" id="modal_title_github"></h5></div>
                    <div class="modal-body" id="modal_body_github"></div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>