/* Default Values for CSS variables */
:root
{
	--costa_red_title: #6d1f37;
	--costa_white: #ffffff;
	--costa_black: #000000;
	--bootstrap_background: #ffffff;
	--card_text: #000000;
	--first_card_background:rgba(255,255,255,0.6);
	--controller_button: transparent;
	--footer-bottom: #810029;
	--footer-top: #ce0041;
	--invert_value: 0;

	/* Shading Info */
	--iced_drink_row: rgba(190, 196, 231, 0.5);
	--hot_drink_row: rgba(231, 196, 190, 0.5);
	--canned_drink_row: rgba(220, 247, 221, 0.5);
	--whatsnew_row:rgba(248, 252, 187, 0.5);

	/* table CSS */
	--thead_color: rgba(255, 141, 141,0.8);
	--tbody_color: rgb(198, 250, 255);

	/* Background Colors */
	--background-strip: #e9f5fb;
	/* Blue (Smallest Device) */
	--background-blue-back: #d7f2ff;
	/* Purple (576px and up)*/
	--background-purple-back: rgb(236, 193, 246);
	/* Orange (768px and up)*/
	--background-orange-back: rgb(242, 203, 173); 
	/* Yellow (992px and up*/
	--background-yellow-back: rgb(250, 250, 189);
	/* Green Blue (1200px and up)*/
	--background-green-back: rgb(190, 245, 239);
}

/* Dark Mode Values for CSS variables */
[data-theme='dark'] {
	--costa_red_title: #da1f57;
	--costa_black: #ffffff;
	--bootstrap_background: #1f1f1f;
	--card_text: #ffffff;
	--first_card_background:rgba(94, 94, 94, 0.6);
	--controller_button: rgba(94, 94, 94, 0.6);
	--footer-bottom: #000000;
	--footer-top: #400014;

	--invert_value: 1;

	/* Shading Info */
	--iced_drink_row: rgba(0, 12, 80, 0.5);
	--hot_drink_row: rgba(62, 9, 0, 0.5);
	--canned_drink_row: rgba(0, 60, 2, 0.5);
	--whatsnew_row:rgba(59, 63, 0, 0.5);

	/* table CSS */
	--thead_color: #400014;
	--tbody_color: rgb(29, 29, 29);

	/* Background Colors */
	--background-strip: #000000;
	/* Blue (Smallest Device) */
	--background-blue-back: #12394d;
	/* Purple (576px and up)*/	
	--background-purple-back: rgb(114, 66, 125);
	/* Orange (768px and up)*/
	--background-orange-back: rgb(72, 47, 27); 
	/* Yellow (992px and up*/
	--background-yellow-back: rgb(79, 79, 22);
	/* Green Blue (1200px and up)*/
	--background-green-back: rgb(31, 45, 43);
}

/* CSS is used to create a creative backgorund with curved lines */
/* Learnet from https://css-tricks.com/how-to-create-wavy-shapes-patterns-in-css/ */
body 
{
	 background: radial-gradient(circle at 100% 50%,
	 transparent 20%, var(--background-strip) 21%, var(--background-strip) 34%, transparent 35%, transparent),
	 radial-gradient(circle at 0% 50%, transparent 20%, var(--background-strip) 21%, var(--background-strip) 34%, transparent 35%, transparent) 0 -50px;
	 background-color: var(--background-blue-back);
	 background-size: 75px 100px;
}


/* Card Setting */
.card
{
	background-color: var(--bootstrap_background);
	color: var(--card_text);
}

/* Modal General Settings */
.modal
{
	border-color: transparent;
}
.modal-header
{
	color: var(--card_text);
	background-color: var(--bootstrap_background);
}
.modal-body
{
	color: var(--card_text);
	background-color: var(--bootstrap_background);
}
.modal-footer
{
	color: var(--card_text);
	background-color: var(--bootstrap_background);
}
.modal-content
{
	color: var(--card_text);
	background-color: var(--bootstrap_background);
}
/* Adding custom font to the project */
@font-face {
	font-family: costa;
	src: url("../assets/fonts/CostaPtfBold.otf");
}

/* Various Button CSS */

.btn-default
{
	color: var(--card_text);
	background-color: var(--bootstrap_background) !important;
	font-family: costa;
	font-weight: bold;
}

.btn-close
{
	filter: invert(var(--invert_value));
}

.btn-outline-dark
{
	color: var(--card_text);
	border-color: var(--card_text);
}

.btn-outline-dark:hover
{
	color: var(--bootstrap_background);
	background-color: var(--card_text) !important;
}

/* CSS for the tooltip used in the navbar */
.header-navbar
{
	color: var(--bootstrap_background) !important;
	background-image: linear-gradient(to top, transparent, rgba(0,0,0,0.7))
}

.navbar-toggler-icon{
	overflow-x: 30px;
	filter: invert(var(--invert_value));
}

/* Header */
.header_item{
	font-family: costa;
	font-size: 20px;
	padding-left: 50px;
	font-weight: bold;
	color: #ffffff;
	position: relative;
}

.header_item:hover{
	font-family: costa;
	color: var(--costa_red_title);
}

#costa_logo
{
	margin-top:30px;
	padding-left: 30px;
	padding-right: 30px;
}

#costa_logo h3{
	transition: 0.3s;
	font-size: 70px;
	text-align: center;
	font-family: costa;
	color: #ffffff;
	font-weight: bold;
}

#costa_logo:hover h3, #costa_logo:hover h4
{
	color: var(--costa_red_title);
	transition: 0.3s;
}

#costa_logo h4{
	position: relative;
	transition: 0.3s;
	bottom: 20px;
	font-family: costa;
	text-align: center;
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
}

.tooltip
{
	margin-bottom: 600px;
}

.toast-header img {
	max-height: 30px;
}

.tooltip-inner {background-color: var(--costa_red_title);
	font-family: costa;}

.list-group{
	flex-direction: row;
}

/* Main Screen*/
#main_3d_image {
    background: url("../assets/images/3d_background_800.jpg");
	box-shadow: inset 0 0 10px #000000;
	background-position: center; 
    background-repeat: no-repeat;
	background-clip: padding-box;
    height: 300px;
	margin: 20px;
	border-radius: 100px;
}


#main_text {
    margin: 5%;
    display: block;
    background-color: var(--first_card_background);
    padding: 30px;
	border-radius: 25px;
	height:300px;
}

#main_text > h1 {
	font-size: 25px;
}

#main_text > h2 {
	font-size: 15px;
}

/* Color Shading Main Page */

.iced_drink_row
{
	background:linear-gradient(to bottom, transparent, var(--iced_drink_row))
}

.hot_drink_row
{
	padding-top: 50px; 
	background:linear-gradient(to bottom, var(--iced_drink_row), var(--hot_drink_row))
}

.canned_drink_row
{
	padding-top: 50px; 
	background:linear-gradient(to bottom, var(--hot_drink_row), var(--canned_drink_row))
}

.whats_new_row
{
	background:linear-gradient(to bottom, var(--canned_drink_row),var(--whatsnew_row))
}

.what_new_card_row
{
	background:linear-gradient(to bottom, var(--whatsnew_row),transparent)
}

/* X3D Models*/

X3D, x3d {
    border-radius: 10px;
	position: relative;
	margin: 0 auto;
	width: 100%;
    height: 100%
}

.controller_card
{
	height:230px;
	border-color: var(--card_text);
}


.controller_card > h3
{
	text-align: center; 
	padding: 30px;
	font-size: 40px;
	background-color: var(--controller_button);
}

.controller_card > .nav
{
	color: var(--bootstrap_background) !important;

}

 .controller_card > .nav-link
 {
	color: var(--costa_red_title);
	background-color: var(--bootstrap_background) !important;
	border-color: var(--card_text);
 }


.controller_card > .card-header
{
	background-color: var(--bootstrap_background) !important;
	border-color: var(--card_text);
}

.item_card{
	background-color: transparent;
	border-color: transparent;
	margin: auto;
	color: var(--card_text)
}

#gallery_title{
	font-size: 30px;
}
  /* Request CSS */
  .request_button
  {
	font-size: 15px;
	border-radius: 100px;
	background-color: var(--costa_red_title);
	color: #ffffff;
	font-weight: bold;
	width: 80px;
	height: 30px;

  }    

/* Bootstrap Toast CSS configurations */
.toast
{
	margin-bottom: 60px;
}
.toast-header, .toast-body
{
	background-color: var(--bootstrap_background);
}

.toast-body
{
	color: var(--card_text);
}

.toast-header > strong
{
	font-family: costa;
	font-weight: bold;
	color: var(--costa_red_title);
	font-size:20px;
}

/* Accordion CSS */

.accordion
{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
}

.accordion-item
{
	background-color: var(--bootstrap_background);
	color: var(--card_text);
}

.accordion-button.collapsed {
	background-color: var(--bootstrap_background);
	color: var(--card_text);
	
}
.accordion-button:not(.collapsed) {
	color: var(--bootstrap_background);
	background-color: var(--costa_red_title) !important;
}
.accordion-header
{
	font-family: costa;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	background-color: var(--bootstrap_background);
	color: var(--card_text);
}

.accordion-body
{
	font-family: costa;
	font-size: 15px;
	font-weight: bold;
	background-color: var(--bootstrap_background);
	color: var(--card_text);
}

/* Carousel */

.carousel {
	width: 800px;
	margin: auto;
	}

/* Carousel */

.carousel-caption > h2
{
	font-size: 20px;
}

.carousel-caption > p
{
	font-size: 10px;
}

.carousel-caption > button
{
	font-size: 10px;
}

/* Form Group CSS */

.form-group
{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}

.form-group-header
{
	font-family: costa;
	text-align: center;
	font-size: 30px;
	color: var(--costa_red_title);
	font-weight: bold;
}

.form-control, .form-control:focus, .form-control:active
{
	font-family: costa;
	font-size: 15px;
	font-weight: bold;
	background-color: var(--bootstrap_background);
	color: var(--card_text);
	border-color: var(--costa_red_title);
	
}

.form-control::placeholder 
{ 
	color: var(--card_text);
}

.form-control::-ms-input-placeholder 
{
	color: var(--card_text);
 }

/* Table CSS */


.table-active
{
	background-color: var(--thead_color);
	color: var(--card_text);	
}

.tbody
{
	background-color: var(--tbody_color);
	color: var(--card_text);	
}

.card-title > h1
{
	font-family: costa;
	text-align: center;
	font-size: 30px;
	color: var(--costa_red_title);
	font-weight: bold;
}

.card-title > h2, .card-body > h2, .lights_text > h2, .lights_text > p
{
	font-family: costa;
	text-align: center;
	font-size: 20px;
	color: var(--card_text);
	font-weight: bold;
}

.form-check-label
{
	font-family: costa;
	text-align: center;
	font-size: 15px;
	color: var(--card_text);
}

.form-check-input
{
	accent-color: var(--card_text) !important;
}


.drink_description_main
{
	font-family: costa;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
	color:var(--card_text)
}

.card-page-title{
	font-family: costa;
	padding: 40px;
	text-align: center;
	color: var(--costa_red_title);
}

#learn_more_button{
	border-radius: 40px;
	background-color: var(--costa_red_title);
}


.costa_button{
	font-size: 20px;
	border-radius: 100px;
	background-color: var(--costa_red_title);
	color: #ffffff;
	font-weight: bold;
	width: 180px;
	height: 60px;
}

#what_new_card {
	height: 800px;
	overflow-y: auto;
}


/* What new */
.what_new_card
{
	padding:50px;
}

.mini-card-body > h2
{
	font-family: costa;
	text-align: center;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
}
  #goback_button
  {
	background-color: #6d1f37;
	border: 0px;
	font-family: costa;
	font-weight: bold;
  }

  /* Used for the flavour and category on top of the x3d model */
.float-container 
{
	margin-top: -15px;
	position: absolute;
	z-index:1000; 
}

.float-child 
{
	width: 50%;
    float: left;
}  

hr
{
	margin-top: 3rem;
	margin-bottom: 3rem;
	border: 10px;
}

.model3D  {
    background-color: rgba(255, 255, 255, 0.0); /* Adjust the transparency to bring the color forward */
    border-radius: 5px;
    border: 0px solid rgba(0, 0, 0, 1.0);
    padding: 2px;
    height: 600px;
	left:100px;
}


/* Footer CSS */
.footer-body > a
{
	font-size: 20px;
	color: white;
	font-weight: bold;
	line-height: 1.5;
}

/* Hide href blue color */ 
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.footer-title {
	font-size: 23px;
	color:white;
	font-weight: bold;
	text-align: center;
}

.footer_bottom
{
	background-color: var(--footer-bottom);
}

.footer_top
{
	background-color: var(--footer-top);
	margin-top:50px;
}

.copyright
{
	color: var(--card_text);
}

.social > a
{
	color: var(--card_text);
}

.social
{
	padding-right: 50px;
}

.card-footer
{
	background-color: transparent;
	border: 0;
}

/* Offcanvas CSS */
.offcanvas-body > h2
{
	font-size: 15px;
	font-family: costa;
}

.offcanvas-header > h1
{
	font-size: 20px;
	color:var(--costa_red_title);
	font-family: costa;
}

.offcanvas
{
	background-color: var(--bootstrap_background);
	color: var(--card_text);
}

.offcanvas_button
{
	background-color: var(--bootstrap_background);
	color: var(--card_text);}

/* Going Beyond */

.going_beyond_list
{
	background-color: var(--bootstrap_background);
	box-shadow: inset 0 0 10px #000000;
	box-sizing: border-box;
    padding: 10px;
	border-radius: 20px;
}

.going_beyond_list > ul 
{
	font-family: costa;
	font-size: 15px;
	font-weight: bold;
	color: var(--card_text);
	position: relative;
}

.going_beyond_list > ul > li
{
	font-family: costa;
	font-size: 20px;
	font-weight: bold;
	color: var(--costa_red_title);	
	position: relative;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
	.column {
		float: left;
		width: 33.33%;
		padding: 5px;
	}
  
  /* Clear floats after image containers */
  .row::after {
	content: "";
	clear: both;
	display: table;
  }

/* Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {

    body 
	{
        background-color: var(--background-purple-back)
    }

	.header_item{
		font-size: 20px; 
	}

	/* Main Screen*/

	/* Main 3d Image and Text */
	#main_3d_image {
		background: url("../assets/images/3d_background_800.jpg");
		background-position: center; 
		background-repeat: no-repeat;
		background-clip: padding-box;
		height: 350px;
	}

	#main_text
	{
    	float: left;
		height:300px;
	}

	#main_text > h1 {
		font-size: 30px;
	}
	#main_text > h2 {
		font-size: 20px;
	}

	/* 3D model */
	.model3D  {
        height: 380px;
    }

	.controller_card
	{
		height:300px;
	}

	.controller_card > h3
	{
		font-size: 20px;
	}


	.camera_button
	{
		font-size: 10px;
		width: 50%;
	}

	#gallery_title
	{
		font-size: 15px;
	}

	/* What's New Cards */
	.what_new_card
	{
		padding:20px;
	}

	.mini-card-body > h2
	{
		font-size: 14px;
	}

	.costa_button{
		width: 140px;
		height: 50px;
	}

	/* Offcanvas */
	.offcanvas-body > h2
	{
		font-size: 15px;
	}

	/* Footer */
	.footer-body > a {
	font-size: 7px;
	}

	.social
	{
		padding-right: 0px;
	}

	/* carousel */

	.carousel-caption > h2
	{
		font-size: 25px;
	}

	.carousel-caption > p
	{
		font-size: 15px;
	}

	.carousel-caption > button
	{
		font-size: 10px;
	}
}


/* Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) 
{ 
    body 
	{
        background-color: var(--background-orange-back);
    }

	.header_item{
		font-size: 9px; 
	}

	#costa_logo h3{
		font-size: 40px;
	}
	#costa_logo h1{
		font-size: 20px;
	}
	/* Main Screen*/

	/* Main 3d Image and Text */
	#main_3d_image {
		background: url("../assets/images/3d_background_1000.jpg");
		background-position: center; 
		background-repeat: no-repeat;
		background-clip: padding-box;
		height: 400px;
	}

	#main_text
	{
    	float: left;
		height:300px;
	}

	#main_text > h1 {
		font-size: 35px;
	}
	#main_text > h2 {
		font-size: 25px;
	}

	/* 3D model */
	.model3D  {
        height: 450px;
    }

	.controller_card
	{
		height:300px;
	}

	.controller_card > h3
	{
		font-size: 25px;
	}

	.camera_button
	{
		font-size: 10px;
		width: 50%;
	}

	#gallery_title
	{
		font-size: 20px;
	}

	/* What's New Cards */
	.what_new_card
	{
		padding:30px;
	}

	.mini-card-body > h2
	{
		font-size: 16px;
	}

	.costa_button{
		width: 140px;
		height: 50px;
	}

	/* Offcanvas */
	.offcanvas-body > h2
	{
		font-size: 20px;
	}


	/* Footer */
	.footer-body > a {
	font-size: 10px;
	}

	.social
	{
		padding-right: 0px;
	}
}

/* Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) 
{ 
    body 
	{
        background-color: var(--background-yellow-back)
    }

	/* Header */
	.header_item{
		font-size: 12px; 
	}

	#costa_logo h3{
		font-size: 60px;
	}
	#costa_logo h1{
		font-size: 30px;
	}

	/* Main Screen*/

	/* Main 3d Image and Text */
	#main_3d_image {
		background: url("../assets/images/3d_background_1200.jpg");
		background-position: center; 
		background-repeat: no-repeat;
		background-clip: padding-box;
		height: 500px;
	}

	#main_text
	{
    	float: left;
		height:300px;
	}

	#main_text > h1 {
		font-size: 40px;
	}
	#main_text > h2 {
		font-size: 30px;
	}

	/* X3D Model */

	.model3D  {
		height: 550px;
    }

	.controller_card
	{
		height:300px;
	}

	.controller_card > h3
	{
		font-size: 30px;
	}

	.camera_button
	{
		font-size: 10px;
		width: 50%;
	}
	
	#gallery_title
	{
		font-size: 25px;
	}

	/* What's New Cards */
	.what_new_card
	{
		padding:40px;
	}
	.mini-card-body > h2
	{
		font-size: 18px;
	}
	.costa_button{
		width: 180px;
		height: 60px;
	}


	/* Offcanvas */
	.offcanvas-body > h2
	{
		font-size: 20px;
	}

	/* Footer */
	.footer-body > a{
	font-size: 15px;
	}

	.social
	{
		padding-right: 0px;
	}
}

/* Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) 
{ 
    body 
	{
        background-color: var(--background-green-back)
    }

	/* Header */
	.header_item{
		font-size: 18px; 
	}

	#costa_logo h3{
		font-size: 70px;
	}
	#costa_logo h1{
		font-size: 40px;
	}

	/* Main Screen*/

	/* Main 3d Image and Text */
	#main_3d_image {
		background: url("../assets/images/3d_background_1400.jpg");
		background-position: center; 
		background-repeat: no-repeat;
		background-clip: padding-box;
    	height: 600px;
	}

	#main_text
	{
    	float: left;
		height:300px;
	}

	#main_text > h1 {
		font-size: 50px;
	}
	#main_text > h2 {
		font-size: 40px;
	}

	/* 3D Model */
	.model3D  {
		height: 650px;
    }

	.controller_card
	{
		height:230px;
	}

	.controller_card > h3
	{
		font: 40px;
	}

	.camera_button
	{
		font-size: 20px;
		width: 25%;
	}

	#gallery_title
	{
		font-size: 30px;
	}

	/* What's New Cards */
	.what_new_card
	{
		padding:50px;
	}

	.mini-card-body > h2
	{
		font-size: 20px;
	}

	.costa_button{
		width: 180px;
		height: 60px;
	}

	/* Offcanvas */
	.offcanvas-body > h2
	{
		font-size: 20px;
	}

	/* Footer */
	.footer-body > a {
	font-size: 20px;
	}

	.social
	{
		padding-right: 0px;
	}
}
